<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />

        <!-- title -->
        <title>{% block title %} test {% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>

    <body>
        <div class="container">
            {% block main %}

            {% endblock %}
        </div>

    </body>
</html>